@font-face {
    font-family: 'Champagne';
    src: url('Fonts/C&L_I.ttf') format('truetype');
}

.Clock {
    font-family: 'Champagne';
    font-stretch: 80%;
    font-style: italic;
    text-shadow: 0 0 10px #fff;
    padding-left: 85px;
    padding-top: 85px;
}

.ClockMsg {
    font-size: 45px;
    color: #5F1231;
    text-align: left;
    padding: 0px 0px 115px 0px;
    ;
}

.ClockMsg p {
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 700;
}

.ClockHour {
    font-size: 80px;
    color: #5F1231;
    float: left;
    padding-left: 0px;
}

.ClockDay {
    font-size: 28px;
    font-weight: 900;
    text-shadow: 0 0 10px #fff;
    color: #5F1231;
    float: left;
    padding: 120px 0px 0px;
    text-align: center;
    position: absolute;
    width: 250px;
}