@import url('https://fonts.googleapis.com/css2?family=amily=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*.App {width:256px; height: 512px; background-color:black;text-align:rights}*/

.Clock {
    font-family: 'Poppins', sans-serif;
    /*font-stretch: 80%;*/
    font-weight: 200;
    font-style: normal;
    text-align: right;
    color: #fff;
    text-shadow: 0 0 10px #fff;
    padding-top: 30px;
}

.ClockHour {
    float: left;
    font-size: 80px;
    width: 226px;    
    padding: 0 30px 0 0px;

}

.ClockDay {
    float: left;
    font-size: 15px;
    font-weight: 300;    
    width: 226px;
    padding: 100px 30px 0px 0px;
    position: absolute;
    
}