.rw-container-main {
    position: absolute;
    top: 257px;
    left: 300px;
    width: auto !important;
    height: auto !important;
    background:transparent!important;
}

.rw-container-main .rw-container-left {
    width: auto !important;
    padding: 45px 0px;
}

.rw-container-main .rw-container-left .rw-container-header {
    display: none;
}

.rw-container-main .rw-container-left .rw-today .rw-today-date {
    display: none;
}

.rw-container-main .rw-container-left .rw-today .rw-today-hr {
    display: none;
}

.rw-container-main .rw-container-left .rw-today .rw-today-desc {
    display: none;
}

.rw-container-main .rw-container-left .rw-today .rw-today-info {
    display: none;
}

.rw-container-main .rw-container-left .rw-today .rw-today-current {
    font-family: 'Champagne';
    font-stretch: 80%;
    font-style: italic;
    font-size: 30px;
    font-weight: 700;
    color: #5F1231;
    text-shadow: 0 0 10px #fff;
}

.rw-container-main .rw-container-right {
    width: auto !important;
    background-color: transparent;
    position: absolute;
}

.rw-container-main .rw-container-right svg path {
    fill: #5F1231;
    filter: drop-shadow(0px 0px 10px rgb(255 255 255 / 0.8));
}

.rw-container-main .rw-container-right svg {
    width: 60px;
    height: 40px;
}