.rw-container-main {
    font-family: 'Poppins', sans-serif;
    font-weight: 200; 
    color: #fff;
    text-shadow: 0 0 10px #fff;
    position: absolute;
    top: 250px;
    left: 60px;
    width: auto !important;
    /*height: auto !important;*/
    background:transparent!important; 
    height: 110px !important;
    padding: 80px 0 0 30px;
    border-left: 2px solid #fff;
}

.rw-container-main .rw-container-left {
    width: auto !important;
    padding: 45px 0px;
}

.rw-container-main .rw-container-left .rw-container-header {
    display: none;
}

.rw-container-main .rw-container-left .rw-today .rw-today-date {
    display: none;
}

.rw-container-main .rw-container-left .rw-today .rw-today-hr {
    display: none;
}

.rw-container-main .rw-container-left .rw-today .rw-today-desc {
    display: none;
}

.rw-container-main .rw-container-left .rw-today .rw-today-info {
    display: none;
}

.rw-container-main .rw-container-left .rw-today .rw-today-current {
    font-size: 45px;
}

.rw-container-main .rw-container-right {
    width: auto !important;
    background-color: transparent;
    position: absolute;
}

.rw-container-main .rw-container-right svg path {
    fill: #fff;
    filter: drop-shadow(0px 0px 10px rgb(255 255 255 / 0.8));
}

.rw-container-main .rw-container-right svg {
    width: 60px;
    height: 40px;
}